.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.forgot-password-title {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
}

.forgot-passoword-message {
  width: 400px;
  margin-bottom: 20px;
  color: #A0A0A0
}

.forgot-passowrd {
  width: 400px;
}

.submit-email-container {
  display: flex;
  justify-content: center;
}

.reset-password-form-button {
  width: 35%;
}