.ant-layout {
  min-height: 100vh;

  .ant-layout-content {
    @media screen and (max-width: 768px) {
      margin: 0 1.5rem;
      width: auto;
    }
  }
}

.site-layout {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 32px;
    display: none;
    
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 768px) {
    }
  }
}