.ant-layout {
  min-height: 100vh;

  .ant-layout-content {
    @media screen and (max-width: 768px) {
      margin: 0 1.5rem;
      width: auto;
    }
  }
}

.site-layout {
  .header {
    height: 40px;
    width: 85vw;
    margin: 2% auto 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 768px) {
      margin: 24px;
      width: auto;
    }
  }
}