.leaderboard-modal-root {
    max-width: 1400px;
    // Yeah yeah not good practice, but antdesign does not let me override this
    width: 100% !important;
    padding: 0 32px;

    .leaderboard-modal-title-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 32px 32px 0;
    
        & > * {
            margin: auto 0;
        }

        & > input {
            max-width: 300px;
        }
    }
} 

.challenges-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}