.language_selector {
  &__button {
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: white;
    box-shadow: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  @media screen and (max-width: 480px) {

    &__text,
    &__arrow_down {
      display: none;
    }

    &__button {
      padding: 5px !important;
      background-color: transparent;
    }
  }
}