.access-screen {
  &>main {
    & .resend-code {
      margin-top: 10px;
    }

    & .confirmation-code {
      width: 100%;
      display: flex !important;
      flex-direction: row;
      gap: 10px;
      height: 40px;

      & input {
        flex-shrink: 1 !important;
        flex-grow: 1 !important;
        max-width: 60px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        appearance: textfield;
        text-align: center;
        font-size: medium;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}