.access-screen {
  &>main {
    & .password {
      margin-bottom: 5px;
    }

    & .to-forgot-password {
      align-self: flex-end;
    }

    & .no-account {
      align-self: center;
    }
  }
  .no-margin {
    width: 370px;
    margin-bottom: 20px;
  }
}