.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  max-width: 550px;
}

.login-form-forgot {
  float: right;
  color: #3fa9ff;
  cursor: pointer;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.route-link {
  color: #3fa9ff;
  cursor: pointer;
}