.page-wrapper {
    height: 100%;
    width: 100%;

    // Same as the sidebar, I think
    @media screen and (max-width:768px) {
        padding: 0 8px 8px 8px;
    }
    
    padding: 8px 32px 32px 32px;
    display: flex;
    flex-direction: column;

    .page-wrapper-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }
    .page-wrapper-content-wrapper {
        flex: 1 1 0;
        overflow-x: hidden;
        overflow-y: auto;

        .page-wrapper-content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            min-height: 100%;
            
            &.flexRow {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    .sm-only {
        transform: translateX(0);
        
        @media screen and (min-width:768px) {
            transform: translateX(-200%) scale(0);
            width: 0;
            min-width: 0;
            margin: 0;
        }
    }
    
}