.card {
    .ant-card-body {
        padding: 20px;
        display: flex;
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        
        .card-header {
            margin-bottom: 20px;
        }
    }
    &.fullwidth {
        width: 100%;
    }
}